.react-flow__node-default.selectable.selected {
  box-shadow: 0px 0px 5px 1px lightgray;
}

.node-base {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-radius: 10px;
  width: 200px;
  height: 60px;
}

.node-standard {
  background: #1e1e1e;
  border-color: #555;
  color: white;
}

.node-aprobado {
  background: #0f172a;
  border-color: #3b82f6;
  color: #bfdbfe;
}
